link(rel='stylesheet', href='/CSS/bootstrap.min.css')
table.table
  thead
    td Consultant
    td id
    td prenom
    td nom
    td entreprise
    td prix
    td cout de revient 
    td frais
    td id_manager
    td Marge% 
    td marge
    td CA 
    td Marge Totale
  each user in data
    tr
      td 
        a(href="calendar/"+user.id+"")
          button(type="button") Jours travaillés
        a(href="modify/"+user.id+"")
          button(type="button") Modifier
        td #{user.id}
        td #{user.first_name}
        td #{user.name}
        td #{user.company}
        td #{user.price}
        td #{user.cost}
        td #{user.charges}
        td #{user.responsable}
        td #{user.marginPerCent}
        td #{user.margin}
        td #{user.business}
        td #{user.totalMargin}
         
        

          
  a(href="/home") HOME
      