
link(rel='stylesheet', href='/CSS/bootstrap.min.css')
table.table
  thead
    td 
    td id
    td prenom
    td nom
    td email
    td objectif
  each agent in agents
    tr
      td
        a(href="calendar/"+agent.id+"")
          button(type="button") Objectifs par mois
        td #{agent.id}
        td #{agent.first_name}
        td #{agent.name}
        td #{agent.email}
        td #{agent.objectif}
      

  a(href="/home") HOME
      